=render 'shared/page_heading', title: "Boat Brands"
.row
  .col-sm-10
    %table.table
      %tr
        %th Name
        %th Logo
        %th Description
        %th Edit
        %th Delete
      - @active_boat_brands.each do |brand| 
        %tr
          %td #{brand.name}
          %td #{brand.logo}
          %td #{brand.description}
          %td 
            =link_to 'Edit', edit_boat_brand_path(brand), class: 'btn btn-warning'
          %td
            =link_to 'Move to trash', deactivate_boat_brand_path(brand), class: 'btn btn-danger', method: "POST"
.trash
  %h3 Inactive Boat Brands
  %ul
    -@inactive_boat_brands.each do |brand|
      %li 
        =brand.name
        =link_to 'Remove from trash', activate_boat_brand_path(brand), class: 'btn-warning', method: "POST"
.row
  .col-sm-10
    %header
      %h1 Add a Boat Brand
    =bootstrap_form_for @boat_brand do |f| 
      =f.text_field :name
      =f.text_field :logo, label: "Logo Image"
      =f.text_area :description
      =f.submit "Add a brand"       