#sidebar.sidebar.responsive
  :javascript
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
  #sidebar-shortcuts.sidebar-shortcuts
    #sidebar-shortcuts-large.sidebar-shortcuts-large
      %button.btn.btn-success
        %i.ace-icon.fa.fa-signal
      %button.btn.btn-info
        %i.ace-icon.fa.fa-pencil
      / #section:basics/sidebar.layout.shortcuts
      %button.btn.btn-warning
        %i.ace-icon.fa.fa-users
      %button.btn.btn-danger
        %i.ace-icon.fa.fa-cogs
      / /section:basics/sidebar.layout.shortcuts
    #sidebar-shortcuts-mini.sidebar-shortcuts-mini
      %span.btn.btn-success
      %span.btn.btn-info
      %span.btn.btn-warning
      %span.btn.btn-danger
  / /.sidebar-shortcuts
  %ul.nav.nav-list
    %li
      %a{:href => "index.html"}
        %i.menu-icon.fa.fa-tachometer
        %span.menu-text Dashboard
      %b.arrow
    %li
      %a.dropdown-toggle{:href => "#"}
        %i.menu-icon.fa.fa-tag
        %span.menu-text Boats
        %b.arrow.fa.fa-angle-down
      %b.arrow
      %ul.submenu
        %li
          %a.dropdown-toggle{:href => "#"}
            %i.menu-icon.fa.fa-caret-right
            Carolina Skiff
            %b.arrow.fa.fa-angle-down
          %b.arrow
          %ul.submenu
            %li
              %a.dropdown-toggle{:href => "#"}
                %i.menu-icon.fa.fa-plus
                JV Series
                %b.arrow.fa.fa-angle-down
              %b.arrow
              %ul.submenu
                %li
                  %a{:href => "#"}
                    %i.menu-icon.fa.fa-eye
                    JV13
                  %b.arrow
                %li
                  %a{:href => "#"}
                    %i.menu-icon.fa.fa-eye
                    JV15
                  %b.arrow
                %li
                  %a{:href => "#"}
                    %i.menu-icon.fa.fa-eye
                    JV17
                  %b.arrow
            %li
              %a.dropdown-toggle{:href => "#"}
                %i.menu-icon.fa.fa-plus
                JVX Series
                %b.arrow.fa.fa-angle-down
              %b.arrow
              %ul.submenu
                %li
                  %a{:href => "#"}
                    %i.menu-icon.fa.fa-eye
                    JVX16
                  %b.arrow
                %li
                  %a{:href => "#"}
                    %i.menu-icon.fa.fa-eye
                    JVX18
                  %b.arrow
                %li
                  %a{:href => "#"}
                    %i.menu-icon.fa.fa-eye
                    JVX20
                  %b.arrow          
  #sidebar-collapse.sidebar-toggle.sidebar-collapse
    %i.ace-icon.fa.fa-angle-double-left{"data-icon1" => "ace-icon fa fa-angle-double-left", "data-icon2" => "ace-icon fa fa-angle-double-right"}
  / /section:basics/sidebar.layout.minimize
  :javascript
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}